<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/styleshees/style.css">
</head>
<body>
  <div>
    <p class="message"><a href="/login">로그인</a></p>
    <p class="message"><a href="/users">회원가입</a></p>
  </div>
</body>
</html>